<!DOCTYPE html>
<html>
<head>
  <title>Particulars Of Documents Of Mortgagor</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/static/rvgstylesheet.css">
    <a id="header-button" href="/home"><b>INDEX</b></a>
</head>

<body style="margin: 0">
  <div class="divstyle">RVG</div>
  <div class="flexContainer">
  <div class="container">
  <div class="list-group">
    <a href="/ab/perdetails" class="list-group-item list-group-item-action"><b>Personal Details</b></a>
    <a href="/ab/scheduleprop" class="list-group-item list-group-item-action"><b>Schedule Property Details</b></a>
    <a href="/ab/mortgagor" class="list-group-item list-group-item-action active"><b>Particulars Of Documents Of Mortgagor</b></a>
    <a href="/ab/scruntinised" class="list-group-item list-group-item-action"><b>Scrutinised Document List</b></a>
    <a href="/ab/lstdoc" class="list-group-item list-group-item-action"><b>List of Documents</b></a>
    <a href="/ab/finaldoc" class="list-group-item list-group-item-action"><b>Document review</b></a>
</div>
  </div>
  
    
  <div class="div">
  <div class="list-group list-group-horizontal">
        
  </div>
  <h3><b>Particulars Of Documents Of Mortgagor</b></h3>
  <div class="customform" style="width: 50vw">
    <div class="navbar">
        <a href="/home">Index</a>
    </div>

  <form action="/ab/mortgagor" method="POST">
    <div class="table-responsive">
      <table id="mytable" class="table table-fixed table-bordered align-middle mytable">
          <tr> 
          <td>DOC No</td>
          <td contenteditable="true"><input type="text" name="DOC No" value="<%= docno %>" />
          </tr>
          <tr>
          <td>Nature Of The Document</td>
          <td contenteditable="true"><input type="text" name="Nature of the Document" value="Registration Partition Deed" />
        </tr>
        <tr>
            <td>Date of presentation</td>
            <td contenteditable="true"><input type="text" name="dateOfPresentation" value="<%= dop %>" />
          </tr>
        <tr>
          <td>Reg DOC Date</td>
          <td contenteditable="true"><input type="text" name="Reg DOC Date" value="<%= regdocdate %>" />
        </tr>
        <tr>
          <td>Executants</td>
          <td contenteditable="true"><input type="text" name="Executants" value="<%= executants %>" />
        </tr>
        <tr>
          <td>Claimants</td>
          <td contenteditable="true"><input type="text" name="claimants" value="<%= claimants %>" />
        </tr>
        <tr>
          <td>Registration office</td>
          <td contenteditable="true"><input type="text" name="Reg Office" value="<%= regOffice %>" />
        </tr>
        <tr>
          <td>Book No./Volume No./Scan No.</td>
          <td contenteditable="true"><input type="text" name="Book/Volume/Scan No" value="<%= bvsno %>" />
        </tr>
        <tr>
          <td>No. of pages</td>
          <td contenteditable="true"><input type="text" name="No. of pages" value="7" />
        </tr>
      </table>
<br>
<br>  
<div class="col-sm-3">
<button type="submit" class="btn btn-primary mb-3">Submit</button>
</div>                      
</div>
</form>
<div class="footer">RVG Subbarao legal service Ltd</div>
</body>
</html>